출처 : https://www.kaggle.com/competitions/reducing-commercial-aviation-fatalities

In [2]:
import csv
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/train.csv')

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
df.head()

,crew,experiment,time,seat,eeg_fp1,eeg_f7,eeg_f8,eeg_t4,eeg_t6,eeg_t5,...,eeg_c4,eeg_p4,eeg_poz,eeg_c3,eeg_cz,eeg_o2,ecg,r,gsr,event
0,1,CA,0.011719,1,-5.28545,26.775801,-9.527310,-12.793200,16.717800,33.737499,...,37.368999,17.437599,19.201900,20.5968,-3.95115,14.507600,-4520.0,817.705994,388.829987,A
1,1,CA,0.015625,1,-2.42842,28.430901,-9.323510,-3.757230,15.969300,30.443600,...,31.170799,19.399700,19.689501,21.3547,1.33212,17.750200,-4520.0,817.705994,388.829987,A
2,1,CA,0.019531,1,10.67150,30.420200,15.350700,24.724001,16.143101,32.142799,...,-12.012600,19.396299,23.171700,22.4076,1.53786,22.247000,-4520.0,817.705994,388.829987,A
3,1,CA,0.023438,1,11.45250,25.609800,2.433080,12.412500,20.533300,31.494101,...,18.574100,23.156401,22.641199,19.3367,2.54492,18.998600,-4520.0,817.705994,388.829987,A
4,1,CA,0.027344,1,7.28321,25.942600,0.113564,5.748000,19.833599,28.753599,...,6.555440,22.754700,22.670300,20.2932,1.69962,22.812799,-4520.0,817.705994,388.829987,A

In [5]:
df_target = df['event']

In [6]:
df_target.head()

0    A
1    A
2    A
3    A
4    A
Name: event, dtype: object

In [10]:
df_input = df.drop("experiment", axis=1)

In [11]:
df_input = df_input.drop("event", axis=1)

In [15]:
train_input, test_input, train_target, test_target = train_test_split(df,df_target,test_size=0.2, shuffle=True, stratify = df_target)

In [16]:
test_input

,crew,experiment,time,seat,eeg_fp1,eeg_f7,eeg_f8,eeg_t4,eeg_t6,eeg_t5,...,eeg_c4,eeg_p4,eeg_poz,eeg_c3,eeg_cz,eeg_o2,ecg,r,gsr,event
2124490,5,CA,13.707001,1,58.499100,82.113800,-25.589500,-5.876940,5.458890,19.070801,...,0.649614,6.666630,6.910280,39.497799,20.304600,8.35184,6601.390137,799.700012,1610.130005,C
310897,1,DA,320.355469,0,-13.692800,-20.131001,-9.357770,-12.317900,-17.167801,-20.912500,...,-28.155500,-24.954201,-30.682600,-21.992701,-24.359200,-19.01840,0.000000,660.554016,674.414978,A
3298526,7,CA,250.136017,0,180.156006,44.708199,84.873100,22.877501,12.787600,4.393590,...,42.171101,35.555000,21.639200,32.853901,48.657501,19.95170,3671.389893,727.708008,0.000000,C
3320417,7,CA,289.864014,1,-6.173860,10.621900,19.550501,4.436450,6.277170,-3.572550,...,5.552340,5.984070,11.647400,12.688600,10.825700,4.24042,17566.900391,831.294006,709.599976,C
2643097,5,SS,70.884003,1,25.862200,14.819500,6.830030,1.091820,-0.696456,-4.751960,...,1.265480,-1.179880,-4.121940,5.439670,4.589160,-5.44448,6162.390137,811.620972,1503.949951,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128534,1,CA,324.140625,0,-20.495100,-9.931190,-14.194100,-2.970000,-3.595260,-7.333910,...,-8.438420,-15.893600,-19.377100,-8.211030,-7.385670,-14.21190,-17437.300780,663.950989,756.476990,C
4351459,13,CA,162.871002,0,56.462200,49.150002,56.195000,23.611700,17.192699,21.090700,...,35.711399,28.103300,21.295900,41.425098,40.515701,8.91472,-16231.000000,677.750000,519.932007,C
936058,2,SS,309.253906,1,5.425990,5.609950,1.771720,7.801600,-7.456200,1.839380,...,4.379650,9.012230,10.149200,4.566420,7.271860,14.31330,9283.269531,802.997986,0.000000,A
4568523,13,DA,22.882812,1,-1.109260,5.676410,-1.794210,3.631750,1.265160,-0.697436,...,-10.063300,7.054050,3.268220,1.977640,3.881600,2.78908,-8420.679688,805.351990,675.507996,A
3343184,7,CA,329.344025,0,4.606480,10.964400,-5.735990,-3.966730,-12.117200,-1.924120,...,-9.601180,-16.084299,-17.070999,2.888540,-4.988310,-9.65622,3115.360107,727.799988,0.000000,C

In [17]:
test_input.to_csv('data_splited.csv')